* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
header {
  /* background: url(./img/bb.png); */
  background: linear-gradient(0deg, rgba(16, 0, 9, 0.3), rgba(0, 0, 0, 0.429)),
    url(./img/bb.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: white;
  text-align: center;
  margin: 20px 250px;
  border-radius: 10px;
}
.header {
  padding: 140px 0;
}
header h1 {
  font-size: 35px;
}
.text {
  padding-top: 20px;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.text img {
  width: 30%;
}
.text h3 {
  color: red;
  font-size: 45px;
}
.text h5 {
  color: red;
  margin-top: -25px;
}
.text h2 {
  margin-bottom: 30px;
  margin-top: -10px;
}
#welcome-section {
  width: 80%;
  margin: 70px auto;
  color: white;
  background: linear-gradient(
      -80deg,
      rgba(16, 0, 9, 0.429),
      rgba(0, 0, 0, 0.804)
    ),
    url(./img/Vectorrr.png);
  padding: 100px 0;
  border-radius: 20px;
}
.welcome {
  width: 50%;
  margin-left: 60px;
}
.welcome a {
  text-decoration: none;
  color: white;
}
#comming {
  width: 80%;
  margin: 70px auto;
  display: flex;
  justify-content: space-between;
}
.row-1 {
  width: 30%;
}
.row-2 img {
  width: 250px;
  padding: 10px;
  border: 10px solid red;
  border-radius: 50%;
}
.row-3 {
  width: 30%;
}
#img-card {
  width: 80%;
  margin: 70px auto;
}
.text-part {
  width: 60%;
}
.img-box-1 img {
  width: 400px;
  margin-top: 20px;
  transition: 1s ease;
}
.img-box-1 img:hover {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  transition: 0.5s ease;
}
.img-box-1 {
  display: flex;
  justify-content: space-between;
}
#subscribe {
  width: 80%;
  margin: 70px auto;
  text-align: center;
  background: #fff2f2;
  padding: 50px 0;
  border-radius: 20px;
}
.input-text {
  width: 350px;
  padding: 15px;
  border-radius: 20px 0px 0px 20px;
  border: 0px;
}
.input-btn {
  width: 120px;
  padding: 15px;
  border-radius: 0px 20px 20px 0px;
  border: 0px;
  background: red;
  font-size: 15px;
  color: #fff;
}
#footer {
  background: #000;
  color: white;
  padding: 50px 0;
}
.part-1 {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
.part-2 {
  text-align: center;
}
.part-2 img {
  width: 45px;
  padding-left: 10px;
  padding: 10px;
}

hr {
  width: 80%;
  height: 1px;
  border: 0;
  border-top: 1px solid #7e7979;
}
